<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Item Manager</title>
</head>
<body>
<div align="center">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>

    <h1>Item List</h1>
    <a href="/new">Create New Item</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Value</th>
            <th sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listItems}">
            <td th:text="${item.id}">Item ID</td>
            <td th:text="${item.name}">Name</td>
            <td th:text="${item.value}">Brand</td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/edit/' + ${item.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${item.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>